
    <footer>
        <div class="f1">
            <h2>HONCHO</h2>
            <p>The fabric of Honcho was born out of f love and respect for these humble dell creations, met with a desire to bring quality ingredients to the table. Simply put, we're here to bring you a food experience you can feel good about.</p>
            <ul>
                <li><a href="#"><i class="fab fa-facebook" style="color:#d0cdcd;"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram" style="color:#d0cdcd;"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube" style="color: #d0cdcd;"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter" style="color:#d0cdcd;"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin" style="color:#d0cdcd;"></i></a></li>
            </ul>
        </div>
        <div class="f2">
            <p>copyright @2024 HONCHO <span><a href="#">Home</a><a href="#">About</a><a href="#">Contact</a></span></p>
        </div>

    </footer>
